* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-image: url("img/Untitled\ design\ \(1\).jpg"); */
    background-size: cover;
    /* background-position: bottom; */
    background-attachment: fixed;
}

.txt-blue{
    color: blueviolet;
}

.txt-violet{
    color: violet;
}
#join {
    transition: 1s;
    animation: animate 2s linear infinite alternate;
}

@keyframes animate {
    from {background-color: rgb(72, 255, 0);}
    to {background-color: yellow;}
}